@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select {
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

@layer components {
  .main {
    @apply bg-main h-screen relative flex items-center bg-cover 
    before:content-[''] before:bg-filter before:absolute before:bg-cover 
    before:h-full before:w-full;
  }

  .main__box {
    @apply flex flex-col gap-6 min-h-[16rem] max-w-[33rem] bg-box mx-auto
    shadow py-7 border border-solid z-10 border-gray backdrop-blur-4xl 
    px-5 rounded-sm items-center text-white relative;
  }

  .app__logo {
    @apply w-36;
  }

  .auth__form {
    @apply flex flex-col w-3/4 gap-6;
  }

  .auth__input-container {
    @apply grid gap-2 grid-cols-[25px_1fr] items-center 
    border rounded-sm pl-2 py-2;
  }

  .auth__input {
    @apply bg-transparent border-none focus:outline-none;
  }

  .auth__btn {
    @apply w-full p-2 font-semibold text-black border-none 
    rounded bg-primary;
  }

  .auth__mode {
    @apply mx-auto text-sm;
  }

  .weather__temp {
    @apply text-4xl;
  }

  .btn__secondary {
    @apply p-2 my-5 mr-auto text-base border rounded-sm text-primary;
  }

  .weather {
    @apply relative z-10 flex flex-col items-center justify-center w-full
    text-center;
  }
}
